.sidebar {
    float: left;
    width: 2%;
    background-color: #000;
    height: 100%;
}

.container {
    height: 100%;
}

.vertical-text {
    -moz-transform-origin: 0 50%;
    -moz-transform: rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin: 0 50%;
    -o-transform: rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin: 0 50%;
    -ms-transform: rotate(-90deg) translate(-50%, 50%);
    transform-origin: 0 50%;
    transform: rotate(-90deg) translate(-50%, 50%);
    position: absolute;
    top: 50%;
    bottom: 0;
    height: 2em;
    margin: auto;
    font-weight: bold;
    font-size: 1em;
    line-height: 2em;
}

.filter_option {
    color: #101010;
}

.filter_option_no {
    color: #d43f3a;
}

/*google map*/
#map-canvas {
    display: block;
    height: 400px;
}
/*navigation bar on resultpage*/
.nav-result {
    width: 25%!important;
}

/* centered columns styles */
.row-centered {
    text-align:center;
;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

#footer{
    background: rgb(241, 241, 241);
    margin-top: -2px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#final-footer{
    font-size: 15px;
    color: #666;
}
