.sidebar {
    float: left;
    width: 2%;
    background-color: #000;
    height: 100%;
}

.container {
    height: 100%;
}

.vertical-text {
    -moz-transform-origin: 0 50%;
    -moz-transform: rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin: 0 50%;
    -o-transform: rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin: 0 50%;
    -ms-transform: rotate(-90deg) translate(-50%, 50%);
    transform-origin: 0 50%;
    transform: rotate(-90deg) translate(-50%, 50%);
    position: absolute;
    top: 50%;
    bottom: 0;
    height: 2em;
    margin: auto;
    line-height: 2em;
}

.filter_option {
    color: #101010;
}

.filter_option_no {
    color: #d43f3a;
}

/*google map*/
#map-canvas {
    display: block;
    height: 450px;
}

.pre-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}

/*navigation bar on resultpage*/
.nav-result {
    width: 25%!important;
}

/* centered columns styles */
.row-centered {
    text-align:center;
;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.dev-mode {
    border: solid red 2px;
}

/*TYPEAHEAD CUSTOM*/
.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 34px;
    padding: 8px 12px;
    /*font-size: 24px;*/
    line-height: 30px;
    border: 1px solid #ccc;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    /*font-size: 18px;*/
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
tt-highlight{
    color:red;
}